<a href="https://colab.research.google.com/github/peen1234/Assessment_BigData_v2/blob/main/Ass_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BUSN9165 -- Big Data Analytics and Visualisation <br> Seminar 6 <br> Week 30 (w/c 21 Feb 2022)

Author: Zhen Zhu <br> Email: z.zhu@kent.ac.uk

### <font color=red>This notebook needs to be run on Colab!!!</font>

## 0. Exercises solutions for Week 29

In [ ]:
# Download Java and Spark

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
# Set up the paths

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [ ]:
# Create a Spark session

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark.conf.set("spark.sql.caseSensitive", True) # Avoid error "Found duplicate column(s) in the data schema"
spark

### <font color=blue>Exercise 5.0</font>

### <font color=blue>Upload the file "titanic_train.csv" to the runtime</font>

### <font color=blue>Use PySpark dataframe operations to get information for all male passengers with age 50 and above</font>

In [ ]:
# First load the data (be sure it is uploaded in the runtime)
titanic_train = spark.read.csv('titanic_train.csv', header = True, inferSchema=True)

# Use multiple conditions to get the information required
titanic_train.filter((titanic_train["Age"] >= 50) &
                     (titanic_train["Sex"] == 'male')
                     ).show()

+-----------+--------+------+--------------------+----+----+-----+-----+-----------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|     Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+-----------+-------+-----+--------+
|          7|       0|     1|McCarthy, Mr. Tim...|male|54.0|    0|    0|      17463|51.8625|  E46|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|male|66.0|    0|    0| C.A. 24579|   10.5| null|       S|
|         55|       0|     1|Ostby, Mr. Engelh...|male|65.0|    0|    1|     113509|61.9792|  B30|       C|
|         95|       0|     3|   Coxon, Mr. Daniel|male|59.0|    0|    0|     364500|   7.25| null|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|male|71.0|    0|    0|   PC 17754|34.6542|   A5|       C|
|        117|       0|     3|Connors, Mr. Patrick|male|70.5|    0|    0|     370369|   7.75| null|       Q|
|        125|       0|     1|White, Mr. Perciv...|male|54.0|    0|    1|      35281|77.2875|  D26|       S|
|        151|       0|     2|Bateman, Rev. Rob...|male|51.0|    0|    0|S.O.P. 1166| 12.525| null|       S|
|        153|       0|     3|    Meo, Mr. Alfonzo|male|55.5|    0|    0| A.5. 11206|   8.05| null|       S|
|        156|       0|     1|Williams, Mr. Cha...|male|51.0|    0|    1|   PC 17597|61.3792| null|       C|
|        171|       0|     1|Van der hoef, Mr....|male|61.0|    0|    0|     111240|   33.5|  B19|       S|
|        175|       0|     1|Smith, Mr. James ...|male|56.0|    0|    0|      17764|30.6958|   A7|       C|
|        223|       0|     3|Green, Mr. George...|male|51.0|    0|    0|      21440|   8.05| null|       S|
|        233|       0|     2|Sjostedt, Mr. Ern...|male|59.0|    0|    0|     237442|   13.5| null|       S|
|        250|       0|     2|Carter, Rev. Erne...|male|54.0|    1|    0|     244252|   26.0| null|       S|
|        253|       0|     1|Stead, Mr. Willia...|male|62.0|    0|    0|     113514|  26.55|  C87|       S|
|        263|       0|     1|   Taussig, Mr. Emil|male|52.0|    1|    1|     110413|  79.65|  E67|       S|
|        281|       0|     3|    Duane, Mr. Frank|male|65.0|    0|    0|     336439|   7.75| null|       Q|
|        318|       0|     2|Moraweck, Dr. Ernest|male|54.0|    0|    0|      29011|   14.0| null|       S|
|        327|       0|     3|Nysveen, Mr. Joha...|male|61.0|    0|    0|     345364| 6.2375| null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+-----------+-------+-----+--------+
only showing top 20 rows

### <font color=blue>Exercise 5.1</font>

### <font color=blue>Use SQL statements to get information for the oldest passenger in first class</font>

In [ ]:
# Create a SQL temp view from the dataframe
titanic_train.createOrReplaceTempView("titanicTable")

# Use SQL query to retrieve the information
spark.sql("SELECT * FROM titanicTable WHERE Pclass = 1 ORDER BY Age DESC")

+-----------+--------+------+--------------------+------+----+-----+-----+---------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+--------+-----------+--------+
|        631|       1|     1|Barkworth, Mr. Al...|  male|80.0|    0|    0|    27042|    30.0|        A23|       S|
|        494|       0|     1|Artagaveytia, Mr....|  male|71.0|    0|    0| PC 17609| 49.5042|       null|       C|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0| PC 17754| 34.6542|         A5|       C|
|        746|       0|     1|Crosby, Capt. Edw...|  male|70.0|    1|    1|WE/P 5735|    71.0|        B22|       S|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|   113509| 61.9792|        B30|       C|
|        457|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|    13509|   26.55|        E38|       S|
|        439|       0|     1|   Fortune, Mr. Mark|  male|64.0|    1|    4|    19950|   263.0|C23 C25 C27|       S|
|        546|       0|     1|Nicholson, Mr. Ar...|  male|64.0|    0|    0|      693|    26.0|       null|       S|
|        276|       1|     1|Andrews, Miss. Ko...|female|63.0|    1|    0|    13502| 77.9583|         D7|       S|
|        830|       1|     1|Stone, Mrs. Georg...|female|62.0|    0|    0|   113572|    80.0|        B28|    null|
|        556|       0|     1|  Wright, Mr. George|  male|62.0|    0|    0|   113807|   26.55|       null|       S|
|        253|       0|     1|Stead, Mr. Willia...|  male|62.0|    0|    0|   113514|   26.55|        C87|       S|
|        171|       0|     1|Van der hoef, Mr....|  male|61.0|    0|    0|   111240|    33.5|        B19|       S|
|        626|       0|     1|Sutton, Mr. Frede...|  male|61.0|    0|    0|    36963| 32.3208|        D50|       S|
|        367|       1|     1|Warren, Mrs. Fran...|female|60.0|    1|    0|   110813|   75.25|        D37|       C|
|        588|       1|     1|Frolicher-Stehli,...|  male|60.0|    1|    1|    13567|    79.2|        B41|       C|
|        695|       0|     1|     Weir, Col. John|  male|60.0|    0|    0|   113800|   26.55|       null|       S|
|        269|       1|     1|Graham, Mrs. Will...|female|58.0|    0|    1| PC 17582|153.4625|       C125|       S|
|        196|       1|     1|Lurette, Miss. Elise|female|58.0|    0|    0| PC 17569|146.5208|        B80|       C|
|        488|       0|     1|Kent, Mr. Edward ...|  male|58.0|    0|    0|    11771|    29.7|        B37|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+--------+-----------+--------+
only showing top 20 rows

### <font color=blue>Exercise 5.2</font>

### <font color=blue>Upload the file "cruise_ship_info.csv" to the runtime</font>

### <font color=blue>Use Spark MLlib to build a linear regression model to predict the number of crew members (i.e., the "crew" column)</font>

In [ ]:
# First load the data (be sure it is uploaded in the runtime)
cruise = spark.read.csv('cruise_ship_info.csv', header = True, inferSchema=True)

# Take a look
cruise.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [ ]:
# Dummy variable for Cruise_line
# Note that we also use OneHotEncoder this time
from pyspark.ml.feature import OneHotEncoder,StringIndexer

# Create indexer for Cruise_line
stringIndexer = StringIndexer(inputCol='Cruise_line', outputCol='lineIndex')

# Update the dataframe
cruise = stringIndexer.fit(cruise).transform(cruise)

# Create labels/categories for Cruise_line
encoder = OneHotEncoder(inputCol="lineIndex",outputCol="lineCat")

# Update the dataframe
cruise = encoder.fit(cruise).transform(cruise)

# Take another look
cruise.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+---------+---------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|lineIndex|        lineCat|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+---------+---------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|     16.0|(19,[16],[1.0])|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|     16.0|(19,[16],[1.0])|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|      1.0| (19,[1],[1.0])|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|      1.0| (19,[1],[1.0])|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|      1.0| (19,[1],[1.0])|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+---------+---------------+
only showing top 5 rows

In [ ]:
# Prepare feature vector

from pyspark.ml.feature import VectorAssembler

feature = VectorAssembler(inputCols=['Age',
                                     'Tonnage',
                                     'passengers',
                                     'length',
                                     'cabins',
                                     'passenger_density',
                                     'lineCat'],
                          outputCol='features')

feature_vector = feature.transform(cruise)
feature_vector.select('features','crew').show(5)

+--------------------+----+
|            features|crew|
+--------------------+----+
|(25,[0,1,2,3,4,5,...|3.55|
|(25,[0,1,2,3,4,5,...|3.55|
|(25,[0,1,2,3,4,5,...| 6.7|
|(25,[0,1,2,3,4,5,...|19.1|
|(25,[0,1,2,3,4,5,...|10.0|
+--------------------+----+
only showing top 5 rows

In [ ]:
# Make a split

(training, test) = feature_vector.randomSplit([0.8, 0.2],seed = 9165)

In [ ]:
# Use linear regression
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol="crew",featuresCol="features")

# Set up the model
lrModel = lr.fit(training)
lr_prediction=lrModel.transform(test)
lr_prediction.select("prediction","crew","features").show(50)
evaluator = lrModel.evaluate(test)

+------------------+----+--------------------+
|        prediction|crew|            features|
+------------------+----+--------------------+
| 9.328889393474242| 9.2|(25,[0,1,2,3,4,5,...|
| 8.649011577410096| 8.5|(25,[0,1,2,3,4,5,...|
|12.094292463839974|19.1|(25,[0,1,2,3,4,5,...|
| 10.03067056358039|11.0|(25,[0,1,2,3,4,5,...|
|  9.19152129172058| 9.0|(25,[0,1,2,3,4,5,...|
|   8.7884253665257| 9.2|(25,[0,1,2,3,4,5,...|
|11.387556286555686|11.5|(25,[0,1,2,3,4,5,...|
|13.406293612352925|13.6|(25,[0,1,2,3,4,5,...|
| 8.728125747138513| 9.2|(25,[0,1,2,3,4,5,...|
| 9.390530467691573| 9.0|(25,[0,1,2,3,4,5,...|
|10.023619413158695|11.0|(25,[0,1,2,3,4,5,...|
|  6.99017923147293| 7.0|(25,[0,1,2,3,4,5,...|
| 5.436389308378022|5.57|(25,[0,1,2,3,4,5,...|
| 9.318767958317476| 9.2|(25,[0,1,2,3,4,5,...|
|  9.79074915741353|9.99|(25,[0,1,2,3,4,5,...|
| 9.635579930888643|10.3|(25,[0,1,2,3,4,5,...|
| 8.268518565852947|7.94|(25,[0,1,2,3,4,5,...|
|  7.36821318300161| 7.5|(25,[0,1,2,3,4,5,...|
| 3.549999999999999|3.55|(25,[0,1,2,3,4,5,...|
| 8.590589847852694| 9.0|(25,[0,1,2,3,4,5,...|
| 5.982999212415893|6.36|(25,[0,1,2,3,4,5,...|
| 8.077181519898122|8.08|(25,[0,1,2,3,4,5,...|
|  8.74978152941128|13.0|(25,[0,1,2,3,4,5,...|
|11.191522821115072|12.0|(25,[0,1,2,3,4,5,...|
| 9.780770008428497|9.99|(25,[0,1,2,3,4,5,...|
|2.2682302831387586| 1.8|(25,[0,1,2,3,4,5,...|
|3.4406060313984312|3.73|(25,[0,1,2,3,4,5,...|
| 5.411754112888251|5.88|(25,[0,1,2,3,4,5,...|
| 6.222283620271418|5.61|(25,[0,1,2,3,4,5,...|
|2.7861885171702516|2.87|(25,[0,1,2,3,4,5,...|
| 7.293039182270543|6.14|(25,[0,1,2,3,4,5,...|
+------------------+----+--------------------+

In [ ]:
# Report R-squared as model evaluation

print('R Squared of this linear regression model is %g'%(evaluator.r2))

R Squared of this linear regression model is 0.797906

## 1. PySpark MLlib sentiment analysis

In [ ]:
# Again make sure 'Airline-Sentiment.csv' is in the runtime. 

# Load the csv into a dataframe
# This time we add "inferSchema=True" so that "retweet_count" is recognised as integer type
myData = spark.read.csv("Airline-Sentiment.csv",header=True,encoding='latin1',escape="\"",multiLine=True,inferSchema=True)
myData.show(5)

+-----------------+--------------+-------------+--------------------+-----------+-------------+--------------+--------------------+
|airline_sentiment|       airline|retweet_count|                text|tweet_coord|tweet_created|tweet_location|       user_timezone|
+-----------------+--------------+-------------+--------------------+-----------+-------------+--------------+--------------------+
|          neutral|Virgin America|            0|@VirginAmerica Wh...|       null|2/24/15 11:35|          null|Eastern Time (US ...|
|         positive|Virgin America|            0|@VirginAmerica pl...|       null|2/24/15 11:15|          null|Pacific Time (US ...|
|          neutral|Virgin America|            0|@VirginAmerica I ...|       null|2/24/15 11:15|     Lets Play|Central Time (US ...|
|         negative|Virgin America|            0|@VirginAmerica it...|       null|2/24/15 11:15|          null|Pacific Time (US ...|
|         negative|Virgin America|            0|@VirginAmerica an...|       null|2/24/15 11:14|          null|Pacific Time (US ...|
+-----------------+--------------+-------------+--------------------+-----------+-------------+--------------+--------------------+
only showing top 5 rows

In [ ]:
# More operations are available from Spark's SQL functions
from pyspark.sql import functions as f

In [ ]:
# Tidy up the text data

myData = (myData
          #Remove handles
          .withColumn("text", f.regexp_replace(f.col("text"), "@[\w]*", ""))
          #Remove special characters
          .withColumn("text", f.regexp_replace(f.col("text"), "[^a-zA-Z']", " "))
          #Remove leading and trailing whitespaces
          .withColumn("text", f.trim(f.col("text")))
          #Restrict the length of the string
          .filter(f.length("text")>50)
          )

In [ ]:
# Get the positive ones
myDataPos = myData.filter("airline_sentiment = 'positive'")

# Get the negative ones
myDataNeg = myData.filter("airline_sentiment = 'negative'")

In [ ]:
# Get a random sample from positive
myDataPosSample = myDataPos.sample(fraction=1000/myDataPos.count(), seed=9165)

# Get a random sample from negative
myDataNegSample = myDataNeg.sample(fraction=1000/myDataNeg.count(), seed=9165)

In [ ]:
# Combine into a single sample

mySample = myDataPosSample.union(myDataNegSample)

In [ ]:
# Take a look

mySample.groupBy("airline_sentiment").count()

+-----------------+-----+
|airline_sentiment|count|
+-----------------+-----+
|         positive|  971|
|         negative|  960|
+-----------------+-----+

In [ ]:
# Make a split

(training, test) = mySample.randomSplit([0.8, 0.2],seed = 9165)

In [ ]:
# Check the training

training.groupBy("airline_sentiment").count()

In [ ]:
# Check the test

test.groupBy("airline_sentiment").count()

### 1.0 Bag-of-words approach

In [ ]:
# Use nickname feat for the subpackage
import pyspark.ml.feature as feat

# We need Pipeline to streamline the workflow
from pyspark.ml import Pipeline

# Use logistic regression
from pyspark.ml.classification import LogisticRegression

In [ ]:
# Build up the pipeline/workflow

# Split the tweets into words
splitter = feat.RegexTokenizer(
    inputCol='text'
    , outputCol='text_split'
    , pattern='\s+'
)

# Remove stop words
sw_remover = feat.StopWordsRemover(
    inputCol=splitter.getOutputCol()
    , outputCol='text_noSW'
)

# Count word frequency
count_vec = feat.CountVectorizer(
    inputCol=sw_remover.getOutputCol()
    , outputCol='features'
    , vocabSize=1000
)

# Prepare the target variable
label_string = feat.StringIndexer(
    inputCol = "airline_sentiment"
    , outputCol = "label"
)

# Logistic regression model
lr = LogisticRegression(
    maxIter=100
)


# Finally set up the pipline
sentiment_pipeline_bow = Pipeline(
    stages=[
            splitter
            , sw_remover
            , count_vec
            , label_string
            , lr
            ]
)

In [ ]:
# Import an evaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

lrModel = sentiment_pipeline_bow.fit(training)
lr_prediction = lrModel.transform(test)
lr_prediction.select("prediction", "airline_sentiment", "features").show(50)
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")

In [ ]:
# Report the accuracy

lr_accuracy = evaluator.evaluate(lr_prediction)
print("Accuracy of this Logistic Regression model with bag-of-words approach is %g"% (lr_accuracy))

In [ ]:
# Take a detailed look

lr_prediction.show()

### 1.1 TF-IDF approach

In [ ]:
# splitter

splitter = feat.RegexTokenizer(inputCol='text', outputCol='text_split', pattern='\s+')
mySample = splitter.transform(mySample)

In [ ]:
# Take a look

mySample.show(5)

In [ ]:
# stop words remover

sw_remover = feat.StopWordsRemover(inputCol='text_split', outputCol='text_noSW')
mySample = sw_remover.transform(mySample)

In [ ]:
# Take a look

mySample.show(5)

In [ ]:
# count word frequency

count_vec = feat.CountVectorizer(inputCol='text_noSW', outputCol='vector', vocabSize=1000)
mySample = count_vec.fit(mySample).transform(mySample)

In [ ]:
# Take a look

mySample.show(5)

In [ ]:
# Calculate IDF

idf_cal = feat.IDF(inputCol='vector', outputCol='features')
mySample = idf_cal.fit(mySample).transform(mySample)

In [ ]:
# Take a look

mySample.show(5)

In [ ]:
# Create indexer for sentiment

label_string = feat.StringIndexer(inputCol='airline_sentiment', outputCol='label')
mySample = label_string.fit(mySample).transform(mySample)

In [ ]:
# Make a split

(training, test) = mySample.randomSplit([0.8, 0.2],seed = 9165)

In [ ]:
# Use logistic regression
lr = LogisticRegression(maxIter=100)

# Set up the model
lrModel = lr.fit(training)
lr_prediction = lrModel.transform(test)
lr_prediction.select("prediction", "airline_sentiment", "features").show(50)
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")

In [ ]:
# Report the accuracy

lr_accuracy = evaluator.evaluate(lr_prediction)
print("Accuracy of this Logistic Regression model with TF-IDF approach is %g"% (lr_accuracy))

### <font color=blue>Exercise 6.0</font>

### <font color=blue>Reorganise the steps in Section 1.1 with Pipeline.</font>

### <font color=blue>Exercise 6.1</font>

### <font color=blue>Carry out a sentiment analysis with customer review text data from http://deepyeti.ucsd.edu/jianmo/amazon/index.html (hint: you may use 4/5 star rating as positive and 1/2 star rating as negative).</font>